body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/f9/75/1c/f9751c6a8929d2c6cd4597fb8b01de2b.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    width: 400px;
    height: 500px;
    background-color: #20202D;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #f20089;
}

#banner {
    width: 100%;
    height: auto;
}

#pfp {
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 150px;
}

#name {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color: #affc41;
}

p {
    font-family: 'Salsa', cursive;
}

.content {
    text-align: center;
    font-size: 18px;
    color: #c5c3c6;
    margin: 2px;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.contact a {
    margin: 0 10px;
    color: #f20089;
    text-decoration: none;
}

/* Add hover effect on social icons */
.contact a:hover {
    color: #007bff;
}
